
.dialogs {
    border: 2px solid pink;
    display: grid;
    grid-template-columns: 2fr 10fr;
    margin: 10px;
}


.dialogsItems {
    border: 1px solid #e1c1c6;
    margin: 2px;
    padding: 4px;
    color: #706e6f;
}

.dialog {
    color: #e1c1c6;
}
.dialogsItems .active {
    color: #ce117d;
}

.messages {
    border: 1px solid #e1c1c6;
    margin: 2px;
    padding: 4px;

}

.dialogsWrapper {
    display: flex;
    /*border: 3px solid greenyellow;*/
    align-items: center;
    margin: 5px;
}

.avatarImg {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 3px;
    object-fit: cover;
}
.textAreaAndButton {
    display: flex;
    flex-direction: column;
    margin: 10px;

    & button {
        width: 20%;
        margin-top: 5px;
        padding: 3px;
        background-color: rgba(229, 203, 203, 0.7);
        /*border: 1px solid pink;*/
        border: none;
        border-radius: 6px;
        font-size: 1rem;
        font-weight: lighter;
        color: #353333;
    }

  & button:hover {
        color: #a09c9c;
        background-color: transparent;
      border: 1px solid #898989;

  }
    & textarea {
        display: inline-block;
        width: 50%;
        height: 80%;
        border: 1px solid dimgrey;
        border-radius: 5px;
        overflow-wrap: unset;
    }
}