.nav {
    grid-area: n;
    background-color: #dbead3;
    padding: 10px 0 10px 10px ;
}

.item a.active {
    color: rgb(121 133 109);
    text-decoration: underline;
    font-weight: bolder;
}
.item a {
    color: #718255;
    text-decoration: none;
}